@font-face {
  font-family: 'DINPro-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('DINPro-Medium'), url('DINPro-Medium_13936.woff') format('woff');
  }

.arrow{
    height:1px;
    width:1px;
    
}
.html{
  font-family:'DINPro-Medium';
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(0.7, 0.7);
      opacity:0;
    }
    100% {
      transform: scale(1, 1);
      opacity:1;
    }
  }

  @keyframes rotation-inverse {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-359deg);
    }
  }